/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* End of Meyer Reset */


body {
    display: grid;
    grid-template: 15vh 85vh / 25vw 75vw;
    font-family: Roboto;
    overflow: hidden;

}

.sidebar {
    grid-area: 1/1/3/2;
    display: flex;
    flex-direction: column;
    background-color: #0ea5e9;
    color: white;
    padding-top: 20px;
    padding-left: 20px;
}

.material-symbols-outlined {
    vertical-align: middle;
    margin-right: 10px;
}

.icon-text {
    vertical-align: middle;
}

.sidebar-title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 50px;

}

.sidebar-group1 div {
    margin-bottom: 10px;
}

.sidebar-group1 div:last-child {
    margin-bottom: 50px;
}

.sidebar-group2 div {
    margin-bottom: 10px;
}



.header {
    grid-area: 1/2/2/3;
    display: flex;
    flex-direction: column;
}

.header-top {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.search-bar {
    display: flex;
}

.search-bar-right {
    font-weight: bold;
    font-size: 24px;
}

#search {
    border-radius: 25px;
    width: 400px;
    border: none;
    background-color: lightgray;
}

.header-bottom {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.bottom-left {
    display: flex;
}



.greeting {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.greeting-bottom {

    font-size: 24px;
}

.bottom-right {
    display: flex;
    align-items: center;

}

.main-content {
    grid-area: 2/2/3/3;
    display: flex;
    background-color: lightgray;

}

.content-left {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.cards-label {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
}

.card-content {
    color: grey;
    font-size: 12px;
}

button {
    border-radius: 25px;
    border: none;
    background-color: #0ea5e9;
    color: white;
    width: 80px;
    margin-right: 15px;
    height: 30px;

}

button:last-of-type {
    margin-right: 0;
}

.cards {
    display: grid;
    grid-template: 175px 175px 175px / 200px 200px;
    gap: 20px;
}

.card {
    background-color: white;
    border-radius: 10px;
    border-left: 10px solid rgb(239, 196, 4);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-icons {
    align-self: flex-end;
}

.content-right {
    display: flex;
    flex-direction: column;
    padding: 15px;
}

.right-top {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.announcements {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color: white;
    width: 250px;
    height: 300px;
    padding: 30px 15px;
    justify-content: space-between;
}

.announcements-label {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
}

.announcement {
    border-bottom: 1px solid gray;
    padding: 10px 0;
}

.announcement:last-child {
    border: none;
}

.announcement-content {
    color: grey;
    font-size: 12px;
}

.right-bottom {
    display: flex;
    flex-direction: column;
}

.trends {
    display: flex;
    flex-direction: column;
}

.trends-label {
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 24px;
}